body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#popularity {
  display: inline-block;
  height: 200px;
  margin-top: 20px;
}

#popularity li {    
  list-style: none;
  position: relative;
  float: left;
  width: 7px;
  height: 100%;
}

#popularity li:hover {
  opacity: 0.6;
}

h1 {
  display: inline-block;
  width: 100%;
  margin: 0;
  float: left;
}

.figther_modal {
  display: none;
  position: absolute;
  top: 0px;
  font-size: 0.688rem;
  line-height: 1;
  width: 200px;
}

.figther_modal p {
  margin: 0;
}

#popularity li:hover .figther_modal {
  display: inline-block;
}

#popularity span.lvl {
  display: inline-block;
  background-color: #78909c;
  width: 6px;
  float: left;
  position: absolute;
  bottom: 0;
}

#popularity span.fight--W {
  background-color: #4caf50;
}
#popularity span.fight--L {
  background-color: #e53935;
}

.opponent-s_records {
  font-weight: bold;
}

.figther_modal .opW {color: #4caf50}
.figther_modal .opL {color: #e53935;}
.figther_modal .opD {color: #80d8ff;}